{% load staticfiles %}
{% load el_pagination_tags %}

<html>
<head>

    <title>COLLECTION</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/lemezpolc.css' %}">
</head>
<body>
<div class="page-header">
    <h1 id="page-title"><a href="/">MY COLLECTION</a></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h5>{{ counter }} releases</h5>
            <form action="" method="get">
                <div class="form-group">
                    {{ filter.form.year }}
                    {{ filter.form.artist }}
                    {{ filter.form.title }}
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
            <a href="/?format=ALBUM">ALBUM</a>
            <a href="/?format=EP">EP</a>
            <a href="/?format=UNKNOWN">UNKNOWN</a>
        </div>
        <div class="col-md-10">
            {% lazy_paginate filter.qs as objects %}
            {% for release in objects %}
            <div class="release">
                {% with 'covers/'|add:release.cover as image_static %}
                <img class="cover" src="{% static image_static  %}">
                {% endwith %}
                <b><p class="artist">{{ release.artist }}</p></b>
                <p>{{ release.title }}</p>
            </div>
            {% endfor %}
        </div>
        {% show_more %}
    </div>
</div>
</body>
</html>
