body {
    background-color: grey;
}

.page-header {
	background-color: pink;

}

#page-title {
	margin-left: 30px;
}

#page-title a {
    color: black;
}

.release {
	width: 150px;
	height: 250px;
	float: left;
	margin-left: 20px;
	padding-top: 10px;
}

.cover {
	width: 150px;
	height: 150px;
	padding-bottom: 10px;
}

.artist {
	margin-bottom: 1px;
}

.endless_container {
    width: 100%;
    background-color: pink;
    text-align: center;
}